@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: rgb(0, 0, 33);
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}

.nav-items > ul {
  display: flex;
  justify-content: center;
}

.nav-items > ul > li {
  list-style: none;
  margin: 0 23px;
}

.nav-items > ul > li > a {
  text-decoration: none;
  color: white;
}

.nav-items > ul > li > a:hover {
  color: rgb(125, 97, 247);
}

.logo {
  width: 70px;
  height: 70px;
}
.card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(70, 70, 141);
}
.card > img {
  width: 100%;
  border-radius: 10px;
}
.card-Names {
  font-weight: 500;
}
.restraunt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.avgRating {
  color: rgb(144, 234, 144);
}
.cuisines-names {
  font-size: 12px;
  color: rgb(205, 186, 186);
}

.search-input {
  width: 228px;
  box-sizing: border-box;
  color: #000;
  border: none;
  border-radius: 15px;
  outline: none;
  margin-left: 55px;
  margin-right: 10px;
  padding: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.search-btn {
  width: 90px;
  height: 36px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 16px;
}

.search-btn:hover {
  color: #fff;
  background-color: #0069d9;
  box-shadow: rgba(75, 91, 214, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  outline: none;
  box-shadow: none;
}

/* 
.search-btn:disabled {
  pointer-events: none;
}

.search-btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.search-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
*/
